.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.worktrees
.superpowers
.sisyphus

### temp ignore ###
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# opencode
findings.md
progress.md
task_plan.md
